body {
    /*background-color: #2e3138;*/
    background-color: white;
}

header {
    /*background-color: #808080;*/
    background-color: black;
    /*box-shadow: 0px 0px 20px 0px black inset; */
    padding-top: 0.2%;
    border-radius: 25px;
    border: 2px double rgba(50, 124, 161, 1);
}

#titleV {
    text-align: left;
    padding-left: 50px;
    font-weight: bold;
    color: #d1d1d1;
    font-size: 30px;
    margin-bottom: 1%;
}

#file {
    background-color: white;
    margin-left: 3%;
    margin-bottom: 1%;
}

#side {
    position: absolute;
    width: 150px;
    height: 79.2%;
    margin-top: 1%;
    box-shadow: 2px 2px 5px #4C4843;
    background-color: #f1f1f1;
    margin-left: 0.3%;
    border-radius: 10px;
}

#side h2 {
    background-image: linear-gradient(rgba(50, 124, 161, 1), black);
    color: white;
    margin: 0;
    padding: 10px 0 10px 5px;
    text-indent: 20px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */

.dropdown-container,
.dropdown-btn {
    padding: 15px 6px 15px 20px;
    text-decoration: none;
    font-size: 16px;
    overflow-x: hidden;
    display: block;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: none;
}

.active {
    background-color: #555;
    color: white;
}


/* On mouse-over */

.sidenav div:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
    background-color: #555;
    margin-left: 0.3%;
    display: block;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
    font-size: 16px;
    color: black;
}

#searchNode,
#searchBag {
    width: 120px;
}

#box {
    display: inline-block;
    width: 99%;
}

#box>section {
    position: absolute;
    width: 44%;
    height: 72%;
}

#box section>div {
    position: absolute;
    width: 100%;
    height: 100%;
    float: right;
    box-shadow: 1px 1px 3px #4C4843;
    border-radius: 10px;
}

#right {
    float: right;
    margin-left: 54.2%;
}

#left {
    float: left;
    margin-left: 10%;
}

#cy {
    float: left;
    background-color: white;
}

#cr {
    background-color: #f1f1f1;
    /*background-color:rgba(255, 229, 204, 0.5);*/
}

#bottom {
    position: bottom;
    background-color: #282828;
    box-shadow: 1px 1px 3px #4C4843;
}


/* titles from graph boxses */

section>h1 {
    background-color: rgba(62, 153, 199, 1);
    box-shadow: 10px 0px 20px 5px black inset;
    border-radius: 10px;
    /* background-color: rgba(237, 200, 161,1);*/
    font-weight: bold;
    font-shadow: 2px 2px gray;
    color: white;
    padding: 13px 0 13px 0;
    text-align: center;
}

icon-tool {
    src: "./../picture/icons/tool1.png";
    width: 50px;
    height: 50px;
}

icon-navi {
    list-style-image: url('picture/icons/kreuz1.png');
}

#nodeInfo {
    box-sizing: border-box;
    margin-left: 60%;
    margin-bottom: 1%;
}

#selectedNode {
    padding: 0 10px 0 10px;
    background-color: white;
    width: 100px;
    position: absolute;
    border-radius: 25px;
}

#myBadge {
    padding: 0 6px 0 6px;
    width: auto;
    height: auto;
    background: #ED373F;
    border-color: #ED373F;
    color: white;
    position: absolute;
    margin-left: 130px;
    border-radius: 10px;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}