https://medium.com/zoosk-engineering/customizing-tooltips-with-the-power-of-sass-mixins-78b6afb5bd8c
https://gist.github.com/starzonmyarmz/3828490
http://arashm.net/lab/simptip/#doc

https://css-tricks.com/snippets/css/custom-file-input-styling-webkitblink/


https://stackoverflow.com/questions/29541590/css-based-div-sliding-up-and-down-can-not-appear-or-disappear-and-work